@model SQLandMVCTest.Models.CustomerModel

@{
    ViewBag.Title = "View Customer's Details";
}

<h2>View Customer's Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dd>
            @Html.DisplayFor(model => model.Orders)
        </dd>

        <dd>
            <div class="form-group">
                <div class="col-md-10">
                    <table class="table-bordered">
                        <tr>
                            <th>
                                Order ID
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                        <tr>
                            @foreach (SQLandMVCTest.Models.OrderModel order in Model.Orders)
                            {
                                <td>
                                    @order.OrderID
                                </td>
                                <td>
                                    @order.Date
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
